<script type="text/javascript" src="../../lib/requirejs.js"></script>
<script type="text/javascript" src="../../lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../chartx/index.js"></script>
<!-- codemirror -->
<script type="text/javascript" src="../../lib/codemirror/codemirror.js"></script>
<script type="text/javascript" src="../../lib/codemirror/active-line.js"></script>
<script type="text/javascript" src="../../lib/codemirror/javascript.js"></script>
<script type="text/javascript" src="../../lib/codemirror/matchbrackets.js"></script>

<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../lib/demo.js"></script>

